<div id="examples">
    <h1>{{header}}</h1>

    <ul class="nav nav-tabs">
        <li class="tab-dictionary"><a href="#!/examples/dictionary">{{tab1}}</a></li>
        <li class="tab-hiddenletters"><a href="#!/examples/hiddenletters">{{tab2}}</a></li>
    </ul>

    <div id="example"></div>
</div>