#examples {
    #example {
        margin-top: 20px;

        #words {
            margin-top: 20px;

            .edit {
                display: none;
            }

            .editing {
                .edit {
                    display: block;
                }

                .view {
                    display: none;
                }
            }

        }
    }
}