<form role="form">
    <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
            <label for="entry-term">{{form.label1}}</label>
            <input maxlength="50" type="text" class="form-control" id="entry-term" placeholder="{{form.placeholder1}}" />
        </div>

        <div class="col-xs-12 col-md-6 form-group">
            <label for="entry-translation">{{form.label2}}</label>
            <input maxlength="50" type="text" class="form-control" id="entry-translation" placeholder="{{form.placeholder2}}" />
        </div>
    </div>
    <button type="submit" class="add btn btn-default">{{form.button-add}}</button>
</form>

<table id="words" class="table table-condensed">
    <thead>
        <tr>
            <th>{{table.term}}</th>
            <th>{{table.trans}}</th>
            <th>{{table.actions}}</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
