<td>
    <span class="view">{{french}}</span>
    <span class="edit"><input maxlength="50" type="text" class="form-control" value="{{french}}" /></span>
</td>
<td>
    <span class="view">{{spanish}}</span>
    <span class="edit"><input maxlength="50" type="text" class="form-control" value="{{spanish}}" /></span>
</td>
<td>
    <span class="view">
        <button type="submit" class="change btn btn-link">{{button-change}}</button>
        <button type="submit" class="destroy btn btn-link">{{button-remove}}</button>
    </span>
    <span class="edit">
        <button type="submit" class="update btn btn-link">{{button-update}}</button>
    </span>
</td>
