@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';
@import 'elements.less';

/**
 * Typography
 */

 @font-face {
    background-color: #ffffff;
    font-family     : 'Montserrat', sans-serif;
    font-weight     : 400;
    font-size       : 14px;
    color           : #555;
    -webkit-font-smoothing    : antialiased;
    -webkit-overflow-scrolling: touch;
}

/**
 * General
 */

 body {
    background-color: @color-grayDark;
 }


code, pre, .pre {
  padding         : 5px;
  margin          : 10px 0;
  background-color: #EFEFEF;
  border          : 1px solid #DADADA;
  border-radius   : 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin : 10px 0;
  padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color      : #333;
}

h1 {
    font-size    : 35px;
    margin-top   : 30px;
    margin-bottom: 30px;
}

p {
    line-height  : 28px;
    margin-bottom: 10px;
    font-size    : 16px;
}

.centered {
    text-align: center;
}

a {
    color    : @color-greenDark;
    word-wrap: break-word;
    
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition   : color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition    : color 0.1s ease-in, background 0.1s ease-in;
    -o-transition     : color 0.1s ease-in, background 0.1s ease-in;
    transition        : color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color          : @color-grayLessLight;
    text-decoration: none;
    outline        : 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition   : color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition    : color 0.1s ease-in, background 0.1s ease-in;
    -o-transition     : color 0.1s ease-in, background 0.1s ease-in;
    transition        : color 0.1s ease-in, background 0.1s ease-in;
}

/**
 * App
 */

#app {
    background-color: white;
}

/**
 * Navigation
 */

#navigation {
    background-color: @color-green ;
    border-color    : @color-greenDark;

    .navbar-header {
        border-right: 1px solid @color-greenDark;
    }

    a {
        color: white;

        &:hover,
        &:focus {
            color          : @color-grayDark ;
        }        
    }

    .navbar-toggle:hover, 
    .navbar-toggle:focus {
        background-color: @color-greenDark;
    }
}

/**
 * Language switcher
 */

 #langswitcher {

    margin-top: -10px;

    #langswitcher-inner {

        padding-top: 10px;

        .switcher {
            list-style: none;
            margin: 60px 0px 10px auto;
            width: 175px;
            font-size: 0.9em;

            li {
                display: inline-block;
                padding: 4px;
                .rounded(6px);

                &:hover, &:focus {
                    color          : @color-grayLessLight;
                    outline        : 0;
                    cursor         : pointer;
                    background-color: @color-grayLight;

                }

                &.selected {
                    background-color: @color-red;
                    color: white;
                }
            }
        }
    }
 }

 /**
 * Content
 */

 #content {
    min-height: 500px;

    #canvasLoader {
        width: 100px;
        margin: 0px auto;
        margin-top: 200px;
    }

    #content-inner > h1 {
        margin-top: 0px;
    }
}

/**
 * Footer
 */

 #footer {
    background-color: @color-grayDark;
    margin-top      : 20px;
    padding-top     : 20px;
    padding-bottom  : 20px;

    p {
        color: white;

        span {
            padding-right: 10px;
        }
    }
}



@import '../app/home/home.less';
@import '../app/examples/examples.less';