@sansFontFamily     : 'Roboto', sans-serif;
@color-blueLight    : #52DBEB;
@color-grayLight    : #F6F6F6;
@color-grayLight2   : #EAEAEA;
@color-grayLessLight: #7b7b7b;
@color-grayDark     : #2F2F2F;
@color-green        : #1ABC9C;
@color-greenDark    : #16A085;
@color-red          : #ae1f21;

