<div id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="navigation-inner" class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{navigation.main}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#each navigation.menu}}
        <li><a href="{{link}}">{{text}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<div id="langswitcher">
  <div id="langswitcher-inner">
    <ul class="switcher">
      <li class="es {{#if_eq lang 'es'}} selected {{/if_eq}}">Español</li>
      <li class="fr {{#if_eq lang 'fr'}} selected {{/if_eq}}">Français</li>
    </ul>
  </div>
</div>

<div id="content">
  <div id="content-inner" class="container-fluid"></div>
</div>


<footer id="footer">
  <div id="footer-inner" class="container">
    <div id="footer-inner" class="container">
      <p class="centered">
        <span><a href="mailto:javier.linmanzaneda@gmail.com" title="José Javier Liñán Manzaneda">javier.linmanzaneda@gmail.com</a></span>
        <span>|</span>
        <span><a href="https://bitbucket.org/javierLinan/portfolio/src" title="Bitbucket - Portfolio">{{footer.code}}</a></span>
      </p>
    </div>
  </div>
</footer>
