<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" type="text/css" href="assets/<%= pkg.name %>-<%= pkg.version %>.css" />

    <title></title>
</head>

<body>
    <div id="app"></div>

    <script type="text/javascript" src="assets/<%= pkg.name %>-<%= pkg.version %>.js"></script>
</body>
</html>
