<div id="home">
    <div class="row personal-info">
        <div class="container personal-info-inner">
            <div class="col-xs-12 col-sm-3 centered"><img class="" src="assets/img/avatar.png" /></div>
            <div class="col-xs-12 col-sm-6 who">
                <h2>{{personal.name}}</h2>
                <h4>{{position}}</h4>
            </div>

            <div class="col-xs-12 col-sm-3 centered social">
                <ul>
                    <li><a title="{{social.cv.text}}" href="assets/docs/cv.pdf"><img alt="{{social.cv.text}}" src="assets/img/file-pdf.png" /></a></li>
                    <!-- <li><a title="{{social.linkedin.text}}" href="{{social.linkedin.link}}"><img alt="{{social.linkedin.text}}" src="assets/img/linkedin-32-black.png" /></a></li> -->
                    <li><a title="{{social.bitbucket.text}}" href="{{social.bitbucket.link}}"><img alt="{{social.bitbucket.text}}" src="assets/img/bitbucket-32-black.png" /></a></li>
                    <!-- <li><a title="{{social.twitter.text}}" href="{{social.twitter.link}}"><img alt="{{social.twitter.text}}" src="assets/img/twitter-32.png" /></a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="container pofessional-info">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 left">

                <h3>{{skills.header}}</h3>
                <ul class="skills">
                    {{#each skills.listCategories}}
                    <li><strong>{{category}}:</strong><span>{{listSkills}}.</span></li>
                    {{/each}}
                </ul>

                <h3>{{jobs.header}}</h3>
                <ul>
                    {{#each jobs.list}}
                    <li class="job">
                        <div class="company">
                            <h4>{{company}}</h4>
                            {{#if contract}}<span>({{contract}})</span>{{/if}}
                        </div>

                        <h5><i>{{position}}</i></h5>

                        <div>
                            <span><strong>{{period}}</strong> {{#if duration}}({{duration}}){{/if}}</span>
                            <span> - {{place}}</span>
                        </div>

                        <ul class="tasks">
                            {{#each tasks}}
                            <li>{{this}}.</li>
                            {{/each}}
                        </ul>

                        <div class="tecs">
                            <span><strong>{{tecs}}</strong></span>
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 right">

                <h3>{{education.header}}</h3>
                <ul class="education">
                    {{#each education.list}}
                    <li>
                      <h5>{{where}} <span>({{country}})</span></h5>
                      {{#if when}}
                      <h6><i>{{when}}</i></h6>
                      {{/if}}
                      <ul>
                        {{#each list}}
                          <li>{{this}}.</li>
                        {{/each}}
                      </ul>
                    </li>
                    {{/each}}
                </ul>

                <h3>{{languages.header}}</h3>
                <ul>
                    {{#each languages.list}}
                    <li><strong>{{name}}:</strong> {{desc}}.</li>
                    {{/each}}
                </ul>

                <h3>{{divers.header}}</h3>
                <ul class="divers">
                    <li>{{divers.interested.label}}:
                      <ul>
                        {{#each divers.interested.list}}
                        <li>{{this}}.</li>
                        {{/each}}
                      </ul>
                    </li>
                    {{#each divers.list}}
                    <li>{{this}}.</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
