#home {

    .personal-info {
        padding-top     : 15px;
        background-color: @color-grayLight;

        .personal-info-inner {
            @media (max-width: 768px) {
                .who {
                    text-align: center;
                }
            }

            .social ul {
                list-style: none;

                li {
                    display: inline-block;

                    &:hover,
                    &:focus {
                        .box-shadow(0 1px 2px #999);
                        .rounded(5px);
                    }
                }

            }
        }
    }

    .pofessional-info {
        @media (min-width: 768px) {
            .right li {
                font-size: 0.95em;
            }
            ul.skills li {
                strong {
                    width: 20%;
                    padding-right: 2%;
                }
                span {
                    width: 78%;
                }
            }
        }

        @media (max-width: 768px) {
            .job ul.tasks {
                padding-left: 15px;
            }
        }

        h3 + ul {
            list-style: none;
            padding-left: 0px;

            li {
                margin-bottom: 5px;
            }
        }

        ul.skills {
            li * {
                display: inline-block;
                width: 100%;
                text-align: left;
                vertical-align: top;
            }
        }

        .job {

            padding-bottom: 20px;
            border-bottom: 1px solid @color-grayLight2;

            &:last-child {
              border: none;
              padding-bottom: 0px;
            }

            .company {
                margin-top: 20px;

                h4 {
                    display: inline-block;
                }
            }

            ul.tasks {
                margin-top: 20px;
                list-style-type: disc;

                li {
                    margin-bottom: 10px;
                }
            }

            .tecs {
                margin-top: 20px;
                color: @color-red;
            }
        }

        ul.education {
            h5 span, h6 {
                font-weight: normal;
            }
            ul {
                padding-left: 15px;
                list-style-type: disc;
            }
        }

        ul.divers {
            list-style-type: disc;
            padding-left: 15px;

            li ul {
                padding-left: 25px;
            }
        }
    }
}
